<div [class]="customClasses.formGroup">
    <ng-container>
        <label [class]="customClasses.label">{{ label }}</label>
        <input
            [class.is-invalid]="ngControl.touched && ngControl.invalid"
            type="password"
            [class]="customClasses.input"
            [formControl]="ngControl.control"
            placeholder="{{ placeholder }}"
            (keyup)="onKeyUpEvent($event)"
            (focus)="focusOn()"
            (blur)="onBlur()"
        />
    </ng-container>

    <div *ngIf="ngControl.control.errors?.required; else minRequirements" class="invalid-feedback">
        Please enter {{ label }}
    </div>

    <ng-template #minRequirements>
        <div *ngIf="ngControl.control.errors && !isPasswordConfirm" class="invalid-feedback">
            Password you entered is not following the minium requirement. Please enter a new one.
        </div>
    </ng-template>

    <div *ngIf="isTouched && !isPasswordConfirm">
        <div
            class="badge w-auto"
            [ngClass]="{
                'badge-warning-validation': ngControl.control.errors?.min || ngControl.control.errors?.minlength,
                'badge-success-validation':
                    !(ngControl.control.errors?.min || ngControl.control.errors?.minlength) && txtValue.length,
                'badge-secondary-validation':
                    !(ngControl.control.errors?.min || ngControl.control.errors?.minlength) && !txtValue.length,
                'badge-danger-validation':
                    (ngControl.control.errors?.min || ngControl.control.errors?.minlength) && isError
            }"
        >
            <span class="mdi mdi-check"></span>
            8 characters
        </div>

        <div
            class="badge w-auto"
            [ngClass]="{
                'badge-warning-validation': ngControl.control.errors?.hasNumber,
                'badge-success-validation': !ngControl.control.errors?.hasNumber && txtValue.length,
                'badge-secondary-validation': !ngControl.control.errors?.hasNumber && !txtValue.length,
                'badge-danger-validation': ngControl.control.errors?.hasNumber && isError
            }"
        >
            <span class="mdi mdi-check"></span>
            1 number
        </div>

        <div
            class="badge w-auto"
            [ngClass]="{
                'badge-warning-validation': ngControl.control.errors?.hasSmallCase,
                'badge-success-validation': !ngControl.control.errors?.hasSmallCase && txtValue.length,
                'badge-secondary-validation': !ngControl.control.errors?.hasSmallCase && !txtValue.length,
                'badge-danger-validation': ngControl.control.errors?.hasSmallCase && isError
            }"
        >
            <span class="mdi mdi-check"></span>
            1 lowercase letter
        </div>

        <div
            class="badge w-auto"
            [ngClass]="{
                'badge-warning-validation': ngControl.control.errors?.hasCapitalCase,
                'badge-success-validation': !ngControl.control.errors?.hasCapitalCase && txtValue.length,
                'badge-secondary-validation': !ngControl.control.errors?.hasCapitalCase && !txtValue.length,
                'badge-danger-validation': ngControl.control.errors?.hasCapitalCase && isError
            }"
        >
            <span class="mdi mdi-check"></span>
            1 uppercase letter
        </div>

        <div
            class="badge w-auto"
            [ngClass]="{
                'badge-warning-validation': ngControl.control.errors?.hasSpecialCharacters,
                'badge-success-validation': !ngControl.control.errors?.hasSpecialCharacters && txtValue.length,
                'badge-secondary-validation': !ngControl.control.errors?.hasSpecialCharacters && !txtValue.length,
                'badge-danger-validation': ngControl.control.errors?.hasSpecialCharacters && isError
            }"
        >
            <span class="mdi mdi-check"></span>
            1 special character
        </div>
    </div>

    <div *ngIf="ngControl.control.errors?.hasRestrictedCharacters" class="invalid-feedback">
        {{ label }} shouldn't contain restricted characters
    </div>
    <div *ngIf="ngControl.control.errors?.hasExistingReference" class="invalid-feedback">
        {{ label }} reference already exists
    </div>
    <div *ngIf="ngControl.control.errors?.pattern" class="invalid-feedback">
        {{ label }} does not follow the required pattern
    </div>
    <div *ngIf="ngControl.control.errors?.exceedsMaxQuantity" class="invalid-feedback">
        {{ label }} exceeds the maximum quantity allowed
    </div>
    <div *ngIf="ngControl.control.errors?.hasInvalidBarcodeFormat" class="invalid-feedback">
        {{ label }} does not follow supported formats
    </div>
    <div *ngIf="ngControl.control.errors?.NoPasswordMatch" class="invalid-feedback">Passwords do not match</div>
</div>
