.fs {
    &-48 {
        font-size: 3rem;
    }

    &-20 {
        font-size: 1.25rem;
    }

    &-18 {
        font-size: 1.125rem;
    }

    &-16 {
        font-size: 1rem;
    }

    &-14 {
        font-size: 0.875rem;
    }

    &-12 {
        font-size: 0.75rem;
    }

    &-10 {
        font-size: 0.625rem;
    }

    &-8 {
        font-size: 0.5rem;
    }

    &-22 {
        font-size: 1.375rem;
    }

    &-28 {
        font-size: 1.75rem;
    }
}
