.opacity {
    &-100 {
        opacity: 1;
    }

    &-75 {
        opacity: 0.75;
    }

    &-70 {
        opacity: 0.7;
    }

    &-50 {
        opacity: 0.5;
    }

    &-25 {
        opacity: 0.25;
    }
}
