<div class="container-fluid bg-white nav-web py-2 position-sticky">
    <div class="row justify-content-between">
        <div class="col d-flex justify-content-between align-items-center justify-content-lg-end px-2">
            <div class="sidebar-toggle d-lg-none d-block">
                <a class="cursor-pointer" (click)="onMobileNavToggleClick()">
                    <span class="mdi mdi-menu fs-28 c-primary"></span>
                </a>
            </div>
            <div class="col-1 ms-2 ms-md-4 pe-1">
                <div class="btn-group float-end" dropdown container="body">
                    <ngx-avatar [name]="currentUser?.firstName + ' ' + currentUser?.lastName"
                        [src]="currentUser?.profilePicture" [initialsSize]="2" size="40" class="cursor-pointer"
                        dropdownToggle></ngx-avatar>

                    <ul id="dropdown-datatable-actions" *dropdownMenu class="dropdown-menu profile dropdown-menu-right"
                        role="menu" aria-labelledby="dropdown-datatable-actions">
                        <li role="menuitem">
                            <a class="dropdown-item cursor-pointer" [attr.href]="null" (click)="myProfile()">
                                <span class="mdi mdi-email-outline"></span>
                                {{ currentUser?.email }}
                            </a>
                        </li>

                        <li role="menuitem">
                            <a class="dropdown-item cursor-pointer" [attr.href]="null" (click)="changePassword()">
                                <span class="mdi mdi-form-textbox-password"></span>
                                Change Password
                            </a>
                        </li>

                        <li role="menuitem">
                            <a class="dropdown-item cursor-pointer" [attr.href]="null" (click)="logout()">
                                <span class="mdi mdi-logout-variant"></span>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="off-overlay d-lg-none d-block" [class.d-block]="!isMobileSidebarExpanded"
    [class.d-none]="isMobileSidebarExpanded" (click)="onOverlayClose()"></div>