<div class="modal-body">
    <div class="container">
        <div class="row mt-3">
            <div class="col-8 font-weight-medium-bold fs-16">Change Password</div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-secondary" (click)="onHideClick()">
                    <span class="mdi mdi-close-thick"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-4 px-md-3">
        <div class="col-12 d-flex justify-content-center">
            <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="w-100">
                <app-text-input
                    [formControl]="f['currentPassword']"
                    [label]="'Current Password'"
                    [placeholder]="'Current Password'"
                    [type]="'password'"
                    [customClasses]="textInputCustomClasses"
                ></app-text-input>
                <app-password-input
                    [formControl]="f['password']"
                    [label]="'New password'"
                    [placeholder]="'Password'"
                    [customClasses]="textInputCustomClasses"
                ></app-password-input>
                <app-password-input
                    [formControl]="f['passwordConfirmation']"
                    [label]="'Retype password'"
                    [placeholder]="'Password'"
                    [isPasswordConfirm]="true"
                    [customClasses]="textInputCustomClasses"
                ></app-password-input>
            </form>
        </div>
        <div class="col-12 form-group mt-4">
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary fs-16" (click)="onHideClick()">Cancel</button>
                <button
                    [disabled]="!changePasswordForm.valid || isFormProcessing"
                    class="btn btn-primary fs-16 mx-2"
                    type="submit"
                    (click)="changePassword()"
                >
                    <span
                        *ngIf="isFormProcessing"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    <span *ngIf="!isFormProcessing" class="text-white">Change Password</span>
                </button>
            </div>
        </div>
    </div>
</div>
