// colors
$Tetherfi-app-prime-background: #fafafa;

// primary colors
$Tetherfi-app-prime-blue: #5c3aff;
$Tetherfi-app-prime-blue-tint: #2fc7c9;
$Tetherfi-app-prime-ash: #2fc7c9;
$Tetherfi-app-background-color: #f7f7fa;

// font colors
$Tetherfi-app-prime-font: #5c3aff;
$Tetherfi-app-secondary-font: #2c2c2c;
$Tetherfi-app-secondary-info-font: #595959;
$Tetherfi-app-secondary-sidebar-font: #1b1c31;
$Tetherfi-app-sumi-ink: #bcbbbb;
$Tetherfi-app-dr-white: #fafafa;
$Tetherfi-app-icon-success-green: #43c882;
$Tetherfi-app-icon-active: #8df8c1;
$Tetherfi-app-icon-inactive: #e6ebf0;
$Tetherfi-text-emphasized: #3f4d5a;
$Tetherfi-app-subtopic-gray: #596b7e;

// card colors
$Tetherfi-app-card-background: #f2f2f5;

// badge colors
$Tetherfi-app-badge-bg-primary: #e6ebf0;
$Tetherfi-app-badge-text-primary: #596b7e;
$Tetherfi-app-badge-bg-warning: #fff4da;
$Tetherfi-app-badge-text-warning: #7d601a;
$Tetherfi-app-badge-bg-danger: #dc354521;
$Tetherfi-app-badge-text-danger: #dc3545;
$Tetherfi-app-badge-bg-success: #d9fdea;
$Tetherfi-app-badge-text-success: #065a2e;
$Tetherfi-app-badge-bg-light: #fafafa;
$Tetherfi-app-badge-text-light: rgba(0, 0, 0, 0.65);
$Tetherfi-app-badge-bg-purple: #f9f0ff;
$Tetherfi-app-badge-text-purple: #722ed1;
$Tetherfi-app-badge-bg-cyan: #e6fffb;
$Tetherfi-app-badge-text-cyan: #13c2c2;

// shadows
$Tetherfi-app-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

// badge
$Tetherfi-app-badge-font-weight: 500;
$Tetherfi-app-badge-border-radius: 2px;
$Tetherfi-app-badge-border: 1px solid;

// font-weights
$Tetherfi-app-font-weight-medium: 500;
$Tetherfi-app-font-weight-semi-bold: 600;
$Tetherfi-app-font-weight-medium-bold: 800;
$Tetherfi-app-font-weight-light: 400;

// border-colors
$Tetherfi-app-border-dark: #485872;
$Tetherfi-app-border-light: #c4cbd1;
